@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    background-image: url(https://komes.s3.eu-central-1.amazonaws.com/wedding-2595862_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.box {
    position: absolute;
    display: grid;
    grid-template-rows: 0.2fr 2fr 1.8fr 1.5fr;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 450px;
    max-width: 50%;
    max-height: 50vh;
    background-color: aliceblue;
    /* backdrop-filter: blur(8px); */
    opacity: 85%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}


div.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* opacity: 100%; */
}

.item_0 {
    padding: 4px;
}

.item_1 {
    font-size: 50px;
}

.item_2 {
    font-size: 40px;
}

.item_3 {
    font-size: 30px;
}